---
layout: base
title: Sugar Labs
---
{% include nav.html %}

<!-- Slider Start -->
    <section id="slider">
      <div class="container">
        <div class="row">
          <div class="col-md-10 col-md-offset-2">
            <div class="block">
              <h1 class="animated fadeInUp">A <br>COLLABARATIVE<br> LEARNING PLATFORM</h1>
              <p class="animated fadeInUp">Sugar Labs is creator of the award-winning Sugar Learning Platform, which promotes collaborative learning through Sugar Activities</p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Wrapper Start -->
    <section id="intro">
      <div class="container">
        <div class="row">
          <div class="col-md-7 col-sm-12">
            <div class="block">
              <div class="section-title">
                <h2>SUGAR</h2>
                <p>Learning software for children</p>
              </div>
              <p>Sugar is a learning platform that reinvents how computers are used for education. Collaboration, reflection, and discovery are integrated directly into the user interface. Sugar promotes "studio thinking" and "reflective practice". Through Sugar's clarity of design, children and teachers have the opportunity to use computers on their own terms. Students can reshape, reinvent, and reapply both software and content into powerful learning activities. Sugar's focus on sharing, criticism, and exploration is grounded in the culture of free software (FLOSS).</p>
            </div>
          </div><!-- .col-md-7 close -->
          <div class="col-md-5 col-sm-12">
            <div class="block">
              <img src="img/sugarizer.svg" alt="Img">
            </div>
          </div><!-- .col-md-5 close -->
        </div>
      </div>
    </section>

  <section id="feature">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-md-offset-6">
          <h2 style="color:#fff">WE BELIEVE IN GREAT IDEAS</h2>
          <p style="color:#fff">Maecenas faucibus mollis interdum. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
          
          <a href="#" class="btn btn-view-works">View Works</a>
        </div>
      </div>
    </div>
  </section>
            <section id="testimonial">
      <div class="container">
        <div class="row">
          <div class="section-title text-center">
            <h2>ACTIVITIES</h2>
            <p>Below is a small selection from the hundreds of Activities available in the<br></p>
            <a href="https://activities.sugarlabs.org/" class="btn btn-view-works" style="background: #655E7A;color:#fff">Sugar Activity Library</a>
          </div>
        </div>
        <div class="row">
          
          <div class="col-md-12">
            <div class="testimonial-carousel">
              <div id="testimonial-slider2" class="owl-carousel">
                <div>
                  <div class="row ">
          <div class="col-sm-6 col-md-3">
            <div class="service-item">
              <i class="icon ion-coffee"></i>
              <h4>Branding</h4>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut </p>
            </div>
          </div>
          <div class="col-sm-6 col-md-3">
            <div class="service-item">
              <i class="ion-compass"></i>
              <h4>Web Design</h4>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut </p>
            </div>
          </div>
          <div class="col-sm-6 col-md-3">
            <div class="service-item">
              <i class="ion-image"></i>
              <h4>App Design</h4>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut </p>
            </div>
          </div>
          <div class="col-sm-6 col-md-3">
            <div class="service-item">
              <i class="ion-bug"></i>
              <h4>Start Up</h4>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut </p>
            </div>
          </div>
          </div>
                </div>
                <div>
                  <div class="row ">
          <div class="col-sm-6 col-md-3">
            <div class="service-item">
              <i class="icon ion-coffee"></i>
              <h4>Branding</h4>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut </p>
            </div>
          </div>
          <div class="col-sm-6 col-md-3">
            <div class="service-item">
              <i class="ion-compass"></i>
              <h4>Web Design</h4>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut </p>
            </div>
          </div>
          <div class="col-sm-6 col-md-3">
            <div class="service-item">
              <i class="ion-image"></i>
              <h4>App Design</h4>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut </p>
            </div>
          </div>
          <div class="col-sm-6 col-md-3">
            <div class="service-item">
              <i class="ion-bug"></i>
              <h4>Start Up</h4>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut </p>
            </div>
          </div>
          </div>
                </div>
                <div>
                  <div class="row ">
          <div class="col-sm-6 col-md-3">
            <div class="service-item">
              <i class="icon ion-coffee"></i>
              <h4>Branding</h4>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut </p>
            </div>
          </div>
          <div class="col-sm-6 col-md-3">
            <div class="service-item">
              <i class="ion-compass"></i>
              <h4>Web Design</h4>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut </p>
            </div>
          </div>
          <div class="col-sm-6 col-md-3">
            <div class="service-item">
              <i class="ion-image"></i>
              <h4>App Design</h4>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut </p>
            </div>
          </div>
          <div class="col-sm-6 col-md-3">
            <div class="service-item">
              <i class="ion-bug"></i>
              <h4>Start Up</h4>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut </p>
            </div>
          </div>
          </div>
                </div>
              </div>
            </div>
          </div>
        </div>
       
                
    </section>
    <!-- Call to action Start -->
    <section id="call-to-action">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="block">
              <h2>We are a big community. Join now!</h2>
              <a href="http://wiki.sugarlabs.org/" class="btn btn-view-works" style="background: #655E7A;color:#fff">Sugar Labs Wiki</a>
              <a href="https://wiki.sugarlabs.org/go/Mailing_Lists" class="btn btn-view-works" style="background: #655E7A;color:#fff">Join Mailing List</a>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Content Start -->
    <section id="testimonial">
      <div class="container">
        <div class="row">
          <div class="section-title text-center">
            <h2>About Us</h2>
            <p>At Sugar Labs, we make a collection of tools that learners use to explore, discover, create, and reflect. We are non-profit and led by volunteers. We distribute these tools freely and encourage our users to appropriate them, taking ownership and responsibility for their learning. Sugar Labs, a volunteer-driven, non-profit organization, had 
  its origins in the One Laptop per Child project and is now a
  member project of the <a href="http://conservancy.softwarefreedom.org/" style="color: #000000;">
  Software Freedom Conservancy</a>. The mission of Sugar Labs is to support
  the Sugar community of users and developers and establish regional,
  autonomous “Sugar Labs” around the world to help learners “learn how to
  learn” by tailoring Sugar to local languages and curricula.</p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="block">
              <ul class="counter-box clearfix">
                <li>
                  <div class="block">
                    <i class="ion-ios-chatboxes-outline"></i>
                    <h4 class="counter">20000</h4>
                    <span>Cups Of Coffee</span>
                  </div>
                </li>
                <li>
                  <div class="block">
                    <i class="ion-ios-glasses-outline"></i>
                    <h4 class="counter">20000</h4>
                    <span>Cups Of Coffee</span>
                  </div>
                </li>
                <li>
                  <div class="block">
                    <i class="ion-ios-compose-outline"></i>
                    <h4 class="counter">20000</h4>
                    <span>Cups Of Coffee</span>
                  </div>
                </li>
                <li>
                  <div class="block">
                    <i class="ion-ios-timer-outline"></i>
                    <h4 class="counter">20000</h4>
                    <span>Cups Of Coffee</span>
                  </div>
                </li>

              </ul>
            </div>
          </div>
          <div class="col-md-6">
            <div class="testimonial-carousel">
              <div id="testimonial-slider1" class="owl-carousel">
                <div>
                  <img src="img/cotation.png" alt="IMG">
                    <p>"What I would like from marketing is some mechanism for highlighting the powerful ideas in Sugar that seem to be lacking in most other systems so that even if a school decides to go with a different product/project, they put pressure on that project to provide tools, not apps, collaboration, transparency, self reflection and group critique, and responsibility on the shoulders of students and teachers to shape their own world."</p>
                    <div class="user">
                      <p><span>Walter Bender</span> Founder-Sugar Labs</p>
                    </div>
                </div>
                <div>
                  <img src="img/cotation.png" alt="IMG">
                    <p>"A successful technology creates problems that only it can solve."</p>
                    <div class="user">
                      <p><span>Alan Kay</span></p>
                    </div>
                </div>
                <div>
                  <img src="img/cotation.png" alt="IMG">
                    <p>"Fedora-Based Sugar on a Stick Is One Sweet Desktop."</p>
                    <div class="user">
                      <p><span>LinuxInsider</span></p>
                    </div>
                </div>
              </div>
            </div>
          </div>
        </div>
                
    </section>
<div class="ssk-sticky ssk-left ssk-center ssk-group">
    <a href="https://www.facebook.com/SugarLabs-187845102582/timeline/" class="ssk ssk-facebook"></a>
    <a href="https://twitter.com/sugar_labs" class="ssk ssk-twitter"></a>
    <a href="https://github.com/sugarlabs" class="ssk ssk-github"></a>
</div>
{% include footer.html %}
