---
layout: base1
title: Sugar & Inquiry - Sugar Labs
permalink: /inquiry/index.html
---
 {% include nav1.html %}
<section id="fh5co-home" data-section="home" style="background-image: url(/assets/bg9.jpg);" data-stellar-background-ratio="0.5">
    <div class="gradient"></div>
    <div class="container">
      <div class="text-wrap">
        <div class="text-inner">
          <div class="row">
            <div class="col-md-8 col-md-offset-2 text-center">
              <h1 class="to-animate">Sugar & Inquiry</h1>
            </div>
          </div>
        </div>
      </div>
</div>
    </div>
    </section>
    <section id="fh5co-pricing" data-section="home">
<aside id="fh5co-hero" class="js-fullheight">
      <div class="flexslider js-fullheight">
        <ul class="slides">
          <li style="background-image: url(/assets/laybrinth-ss.png);">
            <div class="overlay-gradient"></div>
            <div class="container">
              <div class="col-md-8 col-md-offset-2 col-md-push-4 js-fullheight slider-text">
                <div class="slider-text-inner">
                  <div class="desc">
                    
                    
                    <p>Pool ideas and brainstorm prior knowledge using the Labyrinth activity.<br>Save the brainstorm in the Journal and refer back later.</p>
                  </div>
                </div>
              </div>
            </div>
          </li>
          <li style="background-image: url(/assets/browse-palette-ss.png);">
            <div class="overlay-gradient"></div>
            <div class="container">
              <div class="col-md-8 col-md-offset-2 col-md-push-4 js-fullheight slider-text">
                <div class="slider-text-inner">
                  <div class="desc">
                 
                    <p>Begin reading and exploring with the Browse activity.<br>
    Collect and share useful pages save them in the Journal.<br>
    Explore together and collect web pages as a group.</p>

                  </div>
                </div>
              </div>
            </div>
          </li>
          <li style="background-image: url(/assets/read-highlights-ss.png);">
            <div class="overlay-gradient"></div>
            <div class="container">
              <div class="col-md-8 col-md-offset-2 col-md-push-4 js-fullheight slider-text">
                <div class="slider-text-inner">
                  <div class="desc">
                    <p>Annotate and analyze with the Read activity.<br>
    Highlight passages, keep bookmarks with notes and save them to the journal.<br>
    Work with others to analyze one document in real time.</p>
                  </div>
                </div>
              </div>
            </div>
          </li>
          <li style="background-image: url(/assets/write-collab-ss.png);">
            <div class="overlay-gradient"></div>
            <div class="container">
              <div class="col-md-8 col-md-offset-2 col-md-push-4 js-fullheight slider-text">
                <div class="slider-text-inner">
                  <div class="desc">
                    <p>Take notes and save them to the Journal with the Write activity.<br>
    Collaborate (read, write, and edit) in real time with other group members.</p>
                  </div>
                </div>
              </div>
            </div>
          </li>
          <li style="background-image: url(/assets/bibliography-list-ss.png);">
            <div class="overlay-gradient"></div>
            <div class="container">
              <div class="col-md-8 col-md-offset-2 col-md-push-4 js-fullheight slider-text">
                <div class="slider-text-inner">
                  <div class="desc">
                    <p>Orginize and reference sources with the Bibliography activity.<br>
    Keep them in the Journal with context and descriptions.</p>
                  </div>
                </div>
              </div>
            </div>
          </li>
          <li style="background-image: url(/assets/physics-ss.png);">
            <div class="overlay-gradient"></div>
            <div class="container">
              <div class="col-md-8 col-md-offset-2 col-md-push-4 js-fullheight slider-text">
                <div class="slider-text-inner">
                  <div class="desc">
                    <p>Choose a way to present.<br>
    Sugar provides many activities to tell stories.<br>
    Use FotoToon (upper right) to create a comic or diagram, Physics (right) to simulate something, TurtleBlocks (above) to make something interactive or animated; the possibilities are endless with purpose built activities.</p>
                  </div>
                </div>
              </div>
            </div>
          </li>
          <li style="background-image: url((/assets/turtle-ss.png);">
            <div class="overlay-gradient"></div>
            <div class="container">
              <div class="col-md-8 col-md-offset-2 col-md-push-4 js-fullheight slider-text">
                <div class="slider-text-inner">
                  <div class="desc">
                    <h2>More Images..</h2>
                  </div>
                </div>
              </div>
            </div>
          </li>
          <li style="background-image: url(/assets/fototoon-ss.png);">
            <div class="overlay-gradient"></div>
            <div class="container">
              <div class="col-md-8 col-md-offset-2 col-md-push-4 js-fullheight slider-text">
                <div class="slider-text-inner">
                  <div class="desc">
                    <h2>More Images..</h2>
                  </div>
                </div>
              </div>
            </div>
          </li>
          <li style="background-image: url(/assets/paint-ss.png);">
            <div class="overlay-gradient"></div>
            <div class="container">
              <div class="col-md-8 col-md-offset-2 col-md-push-4 js-fullheight slider-text">
                <div class="slider-text-inner">
                  <div class="desc">
                    <h2>More Images..</h2>
                  </div>
                </div>
              </div>
            </div>
          </li>
          <li style="background-image: url(/assets/chart-ss.png);">
            <div class="overlay-gradient"></div>
            <div class="container">
              <div class="col-md-8 col-md-offset-2 col-md-push-4 js-fullheight slider-text">
                <div class="slider-text-inner">
                  <div class="desc">
                    <h2>More Images..</h2>
                  </div>
                </div>
              </div>
            </div>
          </li>
          </ul>
        </div>
    </aside>

  </section>

 {% include footer1.html %}