<!-- <div id="ft" class="container" >
    <div class="row">
        <div class="col-md-5">
            <div class="float-panel panel-primary">
                <div class="panel-heading" id="accordion">
                    <span class="glyphicon glyphicon-comment"></span> Chat on our IRC channel dgfhftrstdhghgfhhgs
                    <div class="btn-group pull-right">
                        <a type="button" class="btn btn-default btn-xs" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                            <span class="glyphicon glyphicon-chevron-down"></span>
                        </a>
                    </div>
                </div>
            <div class="panel-collapse collapse" id="collapseOne">
                <div class="panel-body">
                   <iframe src="https://kiwiirc.com/client/irc.kiwiirc.com/?&theme=cli#sugar" style="border:0; width:100%; height:450px;"></iframe>
                </div>
                
            </div>
            </div>
        </div>
    </div>
</div>
 -->

 <!-- <div class="container" >
    <div class="row">
        <div class="col-md-5">
    <div class="floatWrapper" >
            <div class="float-panel" data-top="0" >
                
            <div class="float-panel panel-primary">
                <div class="panel-heading" id="accordion">
                    <span class="glyphicon glyphicon-comment"></span> Chat on our IRC channel dgfhftrstdhghgfhhgs
                    <div class="btn-group pull-right">
                        <a type="button" class="btn btn-default btn-xs" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                            <span class="glyphicon glyphicon-chevron-down"></span>
                        </a>
                    </div>
                </div>
            <div class="panel-collapse collapse" id="collapseOne">
                <div class="panel-body">
                   <iframe src="https://kiwiirc.com/client/irc.kiwiirc.com/?&theme=cli#sugar" style="border:0; width:100%; height:450px;"></iframe>
                </div>
                
            </div>
            </div>
        </div>
    </div>
</div>
            </div>
        </div> -->
<!-- <div class="container">
    <div class="row">
        <div class="col-md-5">
            <div class="panel panel-primary">
                <div class="panel-heading" id="accordion">
                    <span class="glyphicon glyphicon-comment"></span> Chat
                    <div class="btn-group pull-right">
                        <a type="button" class="btn btn-default btn-xs" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                            <span class="glyphicon glyphicon-chevron-down"></span>
                        </a>
                    </div>
                </div>
            <div class="panel-collapse collapse" id="collapseOne">
                <div class="panel-body">
                   <iframe src="https://kiwiirc.com/client/irc.kiwiirc.com/?&theme=cli#sugar" style="border:0; width:100%; height:450px;"></iframe>
                </div>
                
            </div>
            </div>
        </div>
    </div>
</div> -->
<!-- <div id="container-floating">
    
      <div id="floating-button" type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#floatingnav"  data-placement="left">
        <i id="legend" class="fa fa-tasks fa-stack-1x fa-inverse fa-2x" style="top:12px" role="button" tabindex="0"></i>
    </div>
  <div id="floatingnav" class="collapse">
      <div class="nd1 nds" data-toggle="tooltip" data-placement="left">
     <i id="locateplace" class="fa fa-search fa-stack-1x fa-inverse fa-2x" style="top:12px" ng-click="navMenuController($event);" role="button" tabindex="0"></i>
      </div>
      <div class="nd3 nds" data-toggle="tooltip" data-placement="left">
     <i id="locateplace" class="fa fa-search fa-stack-1x fa-inverse fa-2x" style="top:12px" ng-click="navMenuController($event);" role="button" tabindex="0"></i>
      </div>
      <div class="nd4 nds" data-toggle="tooltip" data-placement="left">
     <i id="locateplace" class="fa fa-search fa-stack-1x fa-inverse fa-2x" style="top:12px" ng-click="navMenuController($event);" role="button" tabindex="0"></i>
      </div>
  </div>

</div> -->
<button onclick="chatFunction()" id="myBtn2" title="IRC chat"><i class="ion-ios-chatbubble-outline"></i></button>

<!-- <button id="mybtn2" title="IRC chat"><i class="ion-ios-chatbubble-outline"></i></button> -->
<button onclick="topFunction()" id="myBtn" title="Go to top"><i class="icon ion-ios-arrow-up"></i></button>

<script>
// When the user scrolls down 20px from the top of the document, show the button
window.onscroll = function() {scrollFunction()};

function scrollFunction() {
    if ((document.body.scrollTop > 20 || document.documentElement.scrollTop > 20)&&(document.getElementById("mcw1").style.display == "none")&&(document.getElementById("mcw2").style.display == "none")) {
        document.getElementById("myBtn").style.display = "block";
    } else {
        document.getElementById("myBtn").style.display = "none";
    }
}

// When the user clicks on the button, scroll to the top of the document
function topFunction() {
    document.body.scrollTop = 0;
    document.documentElement.scrollTop = 0;
}
function chatFunction() {
    document.getElementById("mcw1").style.display = "block";
    document.getElementById("mcw2").style.display = "block";
    document.getElementById("myBtn2").style.display = "none";
    document.getElementById("myBtn").style.display = "none";
    
    // document.body.scrollTop = 0;
    // document.documentElement.scrollTop = 0;
}
$(document).ready(function() {  
  $( ".widget h4" ).click(
    function() {
      $(this).parent().toggleClass('active');
    }
  );      
});
  $(document).ready(function() {
    $("#close").click(function() {
      // window.alert(5 + 6);

      document.getElementById("mcw1").style.display = "none";
    document.getElementById("mcw2").style.display = "none";
      document.getElementById("myBtn2").style.display = "block";
      document.getElementById("myBtn").style.display = "block";
    });
  });

$(document).on('click', '.panel-heading span.icon_minim', function (e) {
    var $this = $(this);
    if (!$this.hasClass('panel-collapsed')) {
        $this.parents('.panel').find('.panel-body').slideUp();
        $this.addClass('panel-collapsed');
        $this.removeClass('ion-minus-round').addClass('ion-plus-round');
    } else {
        $this.parents('.panel').find('.panel-body').slideDown();
        $this.removeClass('panel-collapsed');
        $this.removeClass('ion-plus-round').addClass('ion-minus-round');
    }
});

$(document).on('focus', '.panel-footer input.chat_input', function (e) {
    var $this = $(this);
    if ($('#minim_chat_window').hasClass('panel-collapsed')) {
        $this.parents('.panel').find('.panel-body').slideDown();
        $('#minim_chat_window').removeClass('panel-collapsed');
        $('#minim_chat_window').removeClass('glyphicon-plus').addClass('glyphicon-minus');
    }
});
$(document).on('click', '#new_chat', function (e) {
    var size = $( ".chat-window:last-child" ).css("margin-left");
     size_total = parseInt(size) + 400;
    alert(size_total);
    var clone = $( "#chat_window_1" ).clone().appendTo( ".container" );
    clone.css("margin-left", size_total);
});
$(document).on('click', '.icon_close', function (e) {
    //$(this).parent().parent().parent().parent().remove();
    $( "#chat_window_1" ).remove();
});
  $(document).on('click', '#close', function (e) {
    document.getElementById("mcw1").style.display = "none";
    document.getElementById("mcw2").style.display = "none";
      document.getElementById("myBtn2").style.display = "block";
      if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
        document.getElementById("myBtn").style.display = "block";
    } 
});

</script>
<footer  style="background-color:#282828">
 
  <div class="container fold_1" style="margin:15px 0 0 60px">
    <!-- <div class="row">
      <div class="col-md-12">
        <div class="footer-manu">
          <ul>
            <li><a href="#">About Us</a></li>
            <li><a href="{{ site.baseurl }}/contact">Contact us</a></li>
            <li><a href="#">How it works</a></li>
            <li><a href="{{ site.baseurl }}/blog">Blog</a></li>
            <li><a href="#">Terms</a></li>
          </ul>
        </div>
        <p>Copyright &copy; Design &amp; Developed by <a href="http://www.themefisher.com">Themefisher</a>. All rights reserved.</p>
      </div>
    </div> -->
        <div class="row">
        <div class="col-md-2 widget">
              <h4 style="margin-bottom:14px;color:#ffffff;margin-top:10px;text-align:left;"><b>Sugar Labs</b></h4>
                <article class="widget_content">
                    <ul style="text-align:left;">
                       <li style="margin-bottom:5px;font-size:15px;"><a href="#">About Us</a></li>
            <li style="margin-bottom:5px;font-size:15px;"><a href="#">Get Involved</a></li>
            <li style="margin-bottom:5px;font-size:15px;"><a href="#">Support Sugar</a></li>
            <li style="margin-bottom:5px;font-size:15px;"><a href="#">Contact Us</a></li>
                 </ul>
                 </article>
        </div>
            <div class="col-md-2 widget">
             <h4 style="margin-bottom:14px;color:#ffffff;margin-top:10px;text-align:left;text-align:left;"><b>Development</b></h4>
                <article class="widget_content">
                   <ul style="text-align:left;">
                        <li style="margin-bottom:5px;font-size:15px;"><a href="http://wiki.sugarlabs.org/">Sugar Labs Wiki</a></li>
            <li style="margin-bottom:5px;font-size:15px;"><a href="https://wiki.sugarlabs.org/go/Mailing_Lists">Join mailing list</a></li>
            <li style="margin-bottom:5px;font-size:15px;"><a href="#">Documentation</a></li>
            <li style="margin-bottom:5px;font-size:15px;"><a href="#">IRC Channels</a></li>
            <li style="margin-bottom:5px;font-size:15px;"><a href="#">Bug Tracker</a></li>
            <li style="margin-bottom:5px;font-size:15px;"><a href="#">Development code</a></li>
            <li style="margin-bottom:5px;font-size:15px;"><a href="http://translate.sugarlabs.org">Translation Platform</a></li>
                 </ul>
                 </article>
        </div>
            <div class="col-md-2 widget">
                <h4 style="margin-bottom:14px;color:#ffffff;margin-top:10px;text-align:left;"><b>Resources</b></h4>
                <article class="widget_content">
                <ul style="text-align:left;">
                    <li style="margin-bottom:5px;font-size:15px;"><a href="more" >Culture and pedagogy</a></li>
                <li style="margin-bottom:5px;font-size:15px;"><a href="press" >Press Resources</a></li>
                <li style="margin-bottom:5px;font-size:15px;"><a href="http://schoolserver.org/" >School Server Resources</a></li>
                <li style="margin-bottom:5px;font-size:15px;"><a href="http://planet.sugarlabs.org" >Planet Sugar Labs</a></li>
                        </ul>
                </article>
        </div>
        
        <div class="col-md-2 to-animate">
          <!-- <ul class="contact-info"  style="text-align:left;color:#ffffff;margin-top:10px;">
            <li><u>Contact Us</u></li>
            <li><i class="icon ion-ios-home"></i>Boston, MA, US</li>
            <li><i class="icon ion-ios-telephone"></i>+1-415-343-5226</li>
            <li><i class="icon ion-android-mail"></i>walter@sugarlabs.org</li>
            <li>https://www.sugarlabs.org</li>
          </ul> -->
        </div>
        <div class="col-md-3 to-animate" style="margin-top:10px;">
          <div class="row">
         <div id="own-ssk" class="ssk-group">
         <a href="https://www.facebook.com/SugarLabs-187845102582/timeline/" class="ssk ssk-icon ssk-facebook ssk-lg"></a>
<a href="https://github.com/sugarlabs" class="ssk ssk-icon ssk-github ssk-lg"></a>
    <a href="https://twitter.com/sugar_labs" class="ssk ssk-icon ssk-twitter ssk-lg"></a>
     <a href="https://www.instagram.com/sugarlabsforall/" class="ssk ssk-icon ssk-instagram ssk-lg"></a>
    <a href="https://www.youtube.com/channel/UCfsR9AEb7HuPRAc14jfiI6g/featured" class="ssk ssk-icon ssk-youtube ssk-lg">

     </a>
    
    </div>
    </br>
   <!-- <div class="row">
   <ul class="contact-info"  style="color:#ffffff;">
            <li><u>Join our mailing list!</u></li>
            </ul>
    <a href="https://wiki.sugarlabs.org/go/Mailing_Lists" class="btn btn-view-works" style="background: #655E7A;color:#fff"><i class="icon ion-android-mail"></i>Subscribe</a>
    </div> -->
</div>
        </div>
        
        </div>
        </br>
    <div class="row" >
      <div class="col-md-12" style="margin-top:12px;">
        <p style="text-align:left">
    Original Website: Copyright &copy; Sugar Labs&reg; Website Authors, available under the <a href="https://creativecommons.org/licenses/by-nc-sa/4.0/">CC-BY-NC 4.0 license.</a></br>
  
    Redisgned Website: Copyright &copy; GeeKrypter <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/"><!-- <img alt="Creative Commons License" style="border-width:0;height:31px;width:88px" src="img/88x31.png" /> --></a>This work is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">Creative Commons Attribution-ShareAlike 4.0 International License(CC-BY-SA)</a>.
  </p>
      </div>
    </div>
  </div>
  
</footer>
<div id="mcw1" class="container-popup" style="padding-top:60px;"></div>
 <div id="mcw2" class="popup" style="padding-top:62px;text-align:center;">
 Chat on our IRC channel!<span id="close" class="ion-close-round icon_close" style="color:#000000;"></span>
  <iframe src="https://kiwiirc.com/client/irc.kiwiirc.com/?&theme=cli#sugar" class="ifr"></iframe>

</div>
 <div id="ftctn" class="container" style="padding-left:0px;margin-left:0px;">
    <div class="row chat-window " id="chat_window_1" >
        <div class="col-md-12">
          <div class="panel panel-default" >
                <div id="panel1" class="panel-heading top-bar" style="padding-left:0px;margin-left:0px;">

                    <div class="col-md-10" style="padding-left:80px;margin-left:0px;padding-bottom:0px;">
                        <h3 class="panel-title" style="font-size:14px;color:#000000;"><!-- <span class="glyphicon glyphicon-comment"></span> -->Chat on our IRC channel!</h3>
                    </div>
                    <div class="col-md-2" style="text-align: right; padding-right:0px;">
                        <a href="#"><span id="minim_chat_window" class="ion-minus-round icon_minim" style="color:#655E7A;"></span></a>
                        <a href="#"><span class="ion-close-round icon_close" data-id="chat_window_1" style="color:#655E7A;"></span></a>
                    </div>
                </div>
                
                <div class="panel-body msg_container_base" style="display:none;">
                    
                    
                     
                     <iframe src="https://kiwiirc.com/client/irc.kiwiirc.com/?&theme=cli#sugar" style="border:0; width:100%; height:400px;"></iframe>
                    
                    
                  
                </div>
               
        </div>
        </div>
    </div>
    
    
</div>
<!--  <footer  style="background-color:#282828">
 
  
  <div class="container-fluid">
  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2" style="text-align:left">
    <span class="sr-only">Toggle navigation</span>
          ifcudfcedjlnkfcedj
  </button>
  <div class="collapse navbar-collapse " id="bs-example-navbar-collapse-2">
              <ul class="nav navbar-nav navbar-right abc">
                <li><a href="{{ site.baseurl }}/">Home</a></li>
                <li><a href="{{ site.baseurl }}/work">About</a></li>
                <li><a href="http://server.sugarizer.org">Try Now</a></li>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Download<span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li ><a href="#" style="color:#0099FF">SOAS</a></li>
                    <li ><a href="#" style="color:#0099FF">Chromebooks</a></li>
                    <li ><a href="#" style="color:#0099FF">Linux Distros</a></li>
                    <li role="separator" class="divider"></li>
                    <li class="dropdown-header"></li>
                    <li><a href="https://github.com/walterbender/training" style="color:#0099FF">Activity - Learn Sugar</a></li>
                    <li><a href="#" style="color:#0099FF">Sugar Handbook</a></li>

                    <li><a href="http://activities.sugarlabs.org" style="color:#0099FF">Activities Library</a></li>

                    <li><a href="#" style="color:#0099FF">EBook Library</a></li>
                  </ul>
                </li>
                <li><a href="http://server.sugarizer.org">Use</a></li>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Buy<span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li><a href="http://www.recycleusb.com" style="color:#0099FF">Sugar Sticks</a></li>
                    <li><a href="#" style="color:#0099FF">Sugarizer Server (Raspberry Pi)</a></li>
                    <li><a href="#" style="color:#0099FF">Pre-installed pi3 Desktops</a></li>
                    <li role="separator" class="divider"></li>
                    <li class="dropdown-header"></li>
                    <li><a href="https://github.com/walterbender/training" style="color:#0099FF">Activity - Learn Sugar</a></li>
                    <li><a href="#" style="color:#0099FF">Other Offers</a></li>
                  </ul>
                </li>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Join Us<span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li><a href="" style="color:#0099FF">Community Mailing Lists</a></li>
                    <li><a href="#" style="color:#0099FF">Developer's Guide</a></li>
                    <li><a href="#" style="color:#0099FF">Start a local lab</a></li>
                    <li role="separator" class="divider"></li>
                    <li class="dropdown-header"></li>
                    <li><a href="#" style="color:#0099FF">Contribute to Translation</a></li>
                    <li><a href="#" style="color:#0099FF">Contribute to Usability</a></li>
                    <li><a href="#" style="color:#0099FF">Contribute to Software</a></li>
                    <li><a href="#" style="color:#0099FF">Contribute to Central Organisation</a></li>

                    <li><a href="#" style="color:#0099FF">Related Projects</a></li>
                  </ul>
                </li>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Blog<span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li><a href="http://planet.sugarlabs.org" style="color:#0099FF">Blog Archive</a></li>
                  </ul>
                </li>
              </ul>
            </div>
            </div>

</footer> -->


<script type="text/javascript">
        $(document).on("scroll", function () {
            if ($(document).scrollTop() > 10) {
                $("header").removeClass("large").addClass("small");
            } else {
                $("header").removeClass("small").addClass("large");
            }
        });
    </script>