<section id="fh5co-subscribe">
      <div class="container">
      <div class="text-center">
                <a class="animate-box btn btn-primary" href="/">Return to Main Page</a> 
              </div>

      </div>
    </section>
    <div id="fh5co-footer" role="contentinfo">
    <div class="container">
      <div class="row">
               
        <div class="col-md-2">
</div>
        <div class="col-md-3 to-animate">
          <h3 class="section-title">Contact Us</h3>
          <ul class="contact-info">
            <li><i class="icon-map-marker"></i>Boston, MA, US</li>
            <li> <a href="tel:+14153435226"><i class="icon-phone"></i>+1-415-343-5226</li>
            <li><i class="icon-envelope"></i><a href="#">walter@sugarlas.org</a></li>
            <li><i class="icon-globe2"></i><a href="#">https://www.sugarlabs.org</a></li>
          </ul>
        </div>
        <div class="col-md-2">
</div>
        <div class="col-md-3 to-animate">
          <h3 class="section-title">Connect with Us</h3>
          <ul class="social-media">
            <li><a href="https://twitter.com/sugar_labs"><i class="icon-twitter"></i></a></li>
            <li><a href="https://www.facebook.com/SugarLabs-187845102582/timeline/"><i class="icon-facebook"></i></a></li>
            <li><a href="https://github.com/sugarlabs"><i class="icon-github"></i></a></li>
          </ul>
        </div>
         
      </div>
    </div>
  </div>

    <footer>
      <div id="footer">
        <div class="container">
          <div class="row">
            <div class="col-md-6 col-md-offset-3 text-center">
              <p>
    Copyright &copy; Sugar Labs&reg; Website Authors, available under the <a href="https://creativecommons.org/licenses/by-nc-sa/4.0/">CC-BY-NC 4.0 license</a>
  </p>
            </div>
          </div>
        </div>
      </div>
    </footer>
  
<div class="gototop js-top">
    <a href="#" class="js-gotop"><i class="icon-arrow-up"></i></a>
  </div>