<!-- Header Start -->
<header class="large">
<div class="container">
  <div class="row">
    <div class="col-md-12">

      <!-- header Nav Start -->
      <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            </button>
            <div id="navh" class="logo" >
          <a href="{{ site.baseurl }}/">{% include logo.svg %}</a>
          </div>
            <!-- <div class="logo"> -->
            <a class="navbar-brand" href="index.html">
              <!-- <img id="nav-img" src="img/logo.svg" alt="Logo"> -->
          
            </a>
          </div>
          
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse " id="bs-example-navbar-collapse-1" style="padding-bottom:0px;margin-bottom: 0px;">
              <ul class="nav navbar-nav navbar-right abc">
                <li><a href="{{ site.baseurl }}/">Home</a></li>
                <li><a href="{{ site.baseurl }}/work">About</a></li>
                <li><a href="http://server.sugarizer.org">Try Now</a></li>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Download<span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li ><a href="#" style="color:#0099FF">SOAS</a></li>
                    <li ><a href="#" style="color:#0099FF">Chromebooks</a></li>
                    <li ><a href="#" style="color:#0099FF">Linux Distros</a></li>
                    <li role="separator" class="divider"></li>
                    <li class="dropdown-header"></li>
                    <li><a href="https://github.com/walterbender/training" style="color:#0099FF">Activity - Learn Sugar</a></li>
                    <li><a href="#" style="color:#0099FF">Sugar Handbook</a></li>

                    <li><a href="http://activities.sugarlabs.org" style="color:#0099FF">Activities Library</a></li>

                    <li><a href="#" style="color:#0099FF">EBook Library</a></li>
                  </ul>
                </li>
                <li><a href="http://server.sugarizer.org">Use</a></li>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Buy<span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li><a href="http://www.recycleusb.com" style="color:#0099FF">Sugar Sticks</a></li>
                    <li><a href="#" style="color:#0099FF">Sugarizer Server (Raspberry Pi)</a></li>
                    <li><a href="#" style="color:#0099FF">Pre-installed pi3 Desktops</a></li>
                    <li role="separator" class="divider"></li>
                    <li class="dropdown-header"></li>
                    <li><a href="https://github.com/walterbender/training" style="color:#0099FF">Activity - Learn Sugar</a></li>
                    <li><a href="#" style="color:#0099FF">Other Offers</a></li>
                  </ul>
                </li>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Join Us<span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li><a href="https://wiki.sugarlabs.org/go/Mailing_Lists" style="color:#0099FF">Community Mailing Lists</a></li>
                    <li><a href="#" style="color:#0099FF">Developer's Guide</a></li>
                    <li><a href="#" style="color:#0099FF">Start a local lab</a></li>
                    <li role="separator" class="divider"></li>
                    <li class="dropdown-header"></li>
                    <li><a href="http://translate.sugarlabs.org" style="color:#0099FF">Contribute to Translation</a></li>
                    <li><a href="#" style="color:#0099FF">Contribute to Usability</a></li>
                    <li><a href="#" style="color:#0099FF">Contribute to Software</a></li>
                    <li><a href="#" style="color:#0099FF">Contribute to Central Organisation</a></li>

                    <li><a href="#" style="color:#0099FF">Related Projects</a></li>
                  </ul>
                </li>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Blog<span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li><a href="http://planet.sugarlabs.org" style="color:#0099FF">Blog Archive</a></li>
                  </ul>
                </li>
              </ul>
            </div><!-- /.navbar-collapse -->
          </div><!-- /.container-fluid -->
        </nav>
      </div>
    </div>
  </div>
</header><!-- header close -->
