<header role="banner" id="fh5co-header">
	<nav class="fh5co-nav" role="navigation">
		<div class="top">
			<div class="container">
				<div class="row">
					<div class="col-xs-12 text-right">
						<p class="num">Tel: +14153435226</p>
						<ul class="fh5co-social">
							<li><a href="https://twitter.com/sugar_labs"><i class="icon-twitter"></i></a></li>
            <li><a href="https://www.facebook.com/SugarLabs-187845102582/timeline/"><i class="icon-facebook"></i></a></li>
            <li><a href="https://github.com/sugarlabs"><i class="icon-github"></i></a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		</nav>
		<div class="fluid-container">
		<!-- <div class="logo">
			{% include logo.svg %}
		</div> -->
			<nav class="navbar navbar-default">
			
				<div class="navbar-header logo" style="height:70px;width:260px">
					<!-- <div class="logo"> -->
					<a href="#" class="js-fh5co-nav-toggle fh5co-nav-toggle" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar"><i></i></a>
					<!-- <div class="logo" style="height:70px;width:260px"> -->
					{% include logo.svg %}
				<!-- </div> -->
				</div>
				<div id="navbar" class="navbar-collapse collapse" data-hover="dropdown" data-animations="fadeInDown">
					<ul class="nav navbar-nav navbar-right" >
						<li class="active"><a href="#" data-nav-section="home"><span>Home</span></a></li>
						<li ><a href="#" data-nav-section="services"><span>About</span></a>
						<ul class="dropdown dropdown-menu divider" >
                <li><a href="more" >Culture and pedagogy</a></li>
                <li class="divider"></li>
                <li><a href="press" >Press</a></li>
                <li class="divider"></li>
                <li><a href="http://schoolserver.org/" >School Server resources</a></li>
            </ul>
						</li>
						<li><a href="#" data-nav-section="explore"><span>Activities</span></a>
						<ul class="dropdown dropdown-menu">
                <li><a href="https://activities.sugarlabs.org/" >Activities Library</a></li>
            </ul>
            </li>
						<li><a href="#" data-nav-section="pricing"><span>Inquiry/Use/Buy</span></a>
                        <ul class="dropdown dropdown-menu">
                <li><a href="inquiry" >Inquiry</a></li>
            </ul>
						</li>
						<li><a href="#" data-nav-section="team"><span>Download</span></a>
<ul class="dropdown dropdown-menu">
                <li><a href="http://wiki.sugarlabs.org/go/Sugar_on_a_Stick/Installation">Create Sugar stick</a></li>
                <li class="divider"></li>
                <li><a href="http://try.sugarizer.org">Try Sugarizer!</a>
						</li>
                
            </ul>

						</li>	
							
						<li><a href="#" data-nav-section="faq"><span>Join/Participate/Support</span></a>
							<ul class="dropdown dropdown-menu">
                <li><a href="https://socialhelp.sugarlabs.org/">Social help page</a></li>
            </ul>
						</li>
					
					</ul>
				</div>
			</nav>
	  </div>
	</header>