<div class="loader" >
  <div class="loader1">

  <div class="dot"></div>
  <div class="dot"></div>
  <div class="dot"></div>
</div>
<div id="dd_main" class="logo2"> {% include logo.svg %}</div>
  <div id="dd_main2" class="logo3"> {% include logo.svg %}</div>
  <div id="dd1"></div> 
  <div id="dd2"></div>
  <div id="dd3"></div>
  <div id="dd4"></div>
  <div id="dd5"></div>
  <div id="dd6"></div>
  <div id="dd7"></div>
  <div id="dd8"></div>
</div>

<link rel="stylesheet" href="{{ site.baseurl }}/assets/dist/css/social-share-kit.css" type="text/css">
     <link rel="stylesheet" href="{{ site.baseurl }}/css/normalize.css" type="text/css" />
 
    <link rel="stylesheet" href="{{ site.baseurl }}/css/ionicons.min.css" type="text/css" />


      <link rel="stylesheet" href="{{ site.baseurl }}/css/owl.carousel.css" />
  <link rel="stylesheet" href="{{ site.baseurl }}/css/syntax.css" />
   <link  rel="stylesheet" href="{{ site.baseurl }}/css/mailchimp_styling.css" type="text/css" />


<!-- Header Start -->
<header class="large">
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <!-- header Nav Start -->
      <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            </button>
            <div id="navh" class="logo1">
              <a href="{{ site.baseurl }}/">{% include logo.svg %}</a>
            </div>
            <a class="navbar-brand" href="index.html">
            </a>
          </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse " id="bs-example-navbar-collapse-1" style="padding-bottom:0px;margin-bottom: 0px;">
              <ul class="nav navbar-nav navbar-right abc">
                <li><a href="{{ site.baseurl }}/">Home</a></li>
                <li><a href="{{ site.baseurl }}/about_us">About</a></li>
                <li><a href="http://server.sugarizer.org">Try Now</a></li>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Get Sugar<span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li ><a href="http://wiki.sugarlabs.org/go/Sugar_on_a_Stick/Installation" style="color:#0099FF">SOAS</a></li>
                    <li role="separator" class="divider"></li>
                    <li class="dropdown-header"></li>
                    <li ><a href="http://wiki.sugarlabs.org/go/Fedora" style="color:#0099FF">On Fedora</a></li>
                     <li ><a href="http://wiki.sugarlabs.org/go/Debian" style="color:#0099FF">On Debian</a></li>
                     <li ><a href="http://wiki.sugarlabs.org/go/Ubuntu" style="color:#0099FF">On Ubuntu</a></li>
                    <li ><a href="http://wiki.sugarlabs.org/go/Downloads#Do_you_use_GNU.2FLinux.3F" style="color:#0099FF">On Other Distros</a></li>
                    <li role="separator" class="divider"></li>
                    <li class="dropdown-header"></li>
                    <li><a href="http://server.sugarizer.org/" style="color:#0099FF">Sugarizer Online</a></li>
                   

                    <li><a href="http://sugarizer.org/" style="color:#0099FF">On App</a></li>

                    <li><a href="http://sugarizer.org/" style="color:#0099FF">Set up server</a></li>
                    <li role="separator" class="divider"></li>
                    <li class="dropdown-header"></li>
                    <li><a href="http://wiki.laptop.org/go/Release_notes/13.2.8" style="color:#0099FF">On XO</a></li>
                    <li><a href="#" style="color:#0099FF">On Raspberry Pi</a></li>
                  </ul>
                </li>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Download<span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li ><a href="#" style="color:#0099FF">SOAS</a></li>
                    <li ><a href="#" style="color:#0099FF">Chromebooks</a></li>
                    <li ><a href="#" style="color:#0099FF">Linux Distros</a></li>
                    <li role="separator" class="divider"></li>
                    <li class="dropdown-header"></li>
                    <li><a href="https://github.com/walterbender/training" style="color:#0099FF">Activity - Learn Sugar</a></li>
                    <li><a href="#" style="color:#0099FF">Sugar Handbook</a></li>

                    <li><a href="http://activities.sugarlabs.org" style="color:#0099FF">Activities Library</a></li>

                    <li><a href="#" style="color:#0099FF">EBook Library</a></li>
                  </ul>
                </li>
                <li><a href="https://help.sugarlabs.org/">Use</a></li>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Buy<span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li><a href="http://www.recycleusb.com" style="color:#0099FF">Sugar Sticks</a></li>
                    <li><a href="#" style="color:#0099FF">Sugarizer Server (Raspberry Pi)</a></li>
                    <li><a href="#" style="color:#0099FF">Pre-installed pi3 Desktops</a></li>
                    <li role="separator" class="divider"></li>
                    <li class="dropdown-header"></li>
                    <li><a href="https://github.com/walterbender/training" style="color:#0099FF">Activity - Learn Sugar</a></li>
                    <li><a href="#" style="color:#0099FF">Other Offers</a></li>
                  </ul>
                </li>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Join Us<span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li><a href="https://wiki.sugarlabs.org/go/Mailing_Lists" style="color:#0099FF">Community Mailing Lists</a></li>
                    <li><a href="#" style="color:#0099FF">Developer's Guide</a></li>
                    <li><a href="#" style="color:#0099FF">Start a local lab</a></li>
                    <li role="separator" class="divider"></li>
                    <li class="dropdown-header"></li>
                    <li><a href="http://translate.sugarlabs.org" style="color:#0099FF">Contribute to Translation</a></li>
                    <li><a href="#" style="color:#0099FF">Contribute to Usability</a></li>
                    <li><a href="#" style="color:#0099FF">Contribute to Software</a></li>
                    <li><a href="#" style="color:#0099FF">Contribute to Central Organisation</a></li>

                    <li><a href="#" style="color:#0099FF">Related Projects</a></li>
                  </ul>
                </li>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Blog<span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li><a href="http://planet.sugarlabs.org" style="color:#0099FF">Blog Archive</a></li>
                  </ul>
                </li>
              </ul>
            </div><!-- /.navbar-collapse -->
          </div><!-- /.container-fluid -->
        </nav>
      </div>
    </div>
  </div>
</header><!-- header close -->
