<div class="container-fluid">
  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2" style="text-align:left">
    <span class="sr-only">Toggle navigation</span>
          Sugar Labs
  </button>
  <div class="collapse navbar-collapse " id="bs-example-navbar-collapse-2">
              <ul class="nav navbar-nav navbar-right abc"  style="text-align:left;color:#ffffff;margin-top:10px;">
                <li style="margin-bottom:14px;"><b>Sugar Labs</b></li>
            <li style="margin-bottom:5px;"><a href="#">About Us</a></li>
            <li style="margin-bottom:5px;"><a href="#">Get Involved</a></li>
            <li style="margin-bottom:5px;"><a href="#">Support Sugar</a></li>
            <li style="margin-bottom:5px;"><a href="#">Contact Us</a></li>
                
                
                
              </ul>
            </div><!-- /.navbar-collapse -->
            </div>