<!DOCTYPE html>
<html class="no-js">
  <head> 
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
 		<link id="defaultIcon1" rel="shortcut icon" href="https://www.sugarlabs.org/assets/favicon_06.png" />
    <title>{{ page.title }}</title>
    <link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet">
    <meta name="robots" content="index,follow,NOODP" />
    <meta name="description" Content="At Sugar Labs, we make a collection of tools that learners use to explore, discover, create, and reflect. We are non-profit and led by volunteers. We distribute these tools freely and encourage our users to appropriate them, taking ownership and responsibility for their learning." />
    <meta name="keywords" Content="Sugar Labs, Sugar, Sugarlabs, Education, Opensource, OpenSource, Sugar activities, activities, Sugar OS, Sugarizer, Sugar on Stick, SOAS" />

    <!-- Facebook card -->
    <meta property="fb:admins" content="552694361,100003527081308,100003017988002,100007693992282" />
    <meta property="fb:page_id" content="187845102582" />

    <!-- Twitter card -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="@sugar_labs" />
    <meta name="twitter:creator" content="@sugar_labs" />
    <meta name="twitter:title" content="The Sugar Labs" /> 
    <meta name="twitter:description" content="Sugar Labs is creator of the award-winning Sugar Learning Platform, which promotes collaborative learning through Sugar Activities" />
    <meta name="twitter:image" content="https://sugarlabs.org/assets/home-screenshot.png" />  

    <!-- Open graph -->
    <meta property="og:site_name" content="Sugar Labs" />
    <meta property="og:type" content="Organization" />
    <meta property="og:title" content="Sugar Labs" />
    <meta property="og:url" content="https://www.sugarlabs.org" />
    <meta property="og:description" content="Sugar Labs is creator of the award-winning Sugar Learning Platform, which promotes collaborative learning through Sugar Activities." />
    <meta property="og:image" content="https://sugarlabs.org/assets/home-screenshot.png" />

    <!-- Google Knowledge Graph card -->
    <script type='application/ld+json'> 
        {
          "@context": "http://www.schema.org",
          "@type": "Organization",
          "name": "Sugar Labs",
          "url": "https://sugarlabs.org/",
          "logo": "https://sugarlabs.org/assets/logo.png",
          "description": "Sugar Labs is creator of the award-winning Sugar Learning Platform, which promotes collaborative learning through Sugar Activities."
        } 
    </script>
    <!-- CSS -->
    <!-- <link rel="stylesheet" href="{{ site.baseurl }}/css/jquery.floating-social-share.min.css"> -->
    <!-- <link rel="stylesheet" href="{{ site.baseurl }}/css/owl.carousel.css" /> -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.3/owl.carousel.css" />
    <!-- <link rel="stylesheet" href="{{ site.baseurl }}/css/bootstrap.min.css" /> -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ site.baseurl }}/css/airspace.css" />
    <link rel="stylesheet" href="{{ site.baseurl }}/css/ionicons.min.css" />
    <!-- <link rel="stylesheet" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" /> -->
    <link rel="stylesheet" href="{{ site.baseurl }}/css/animate.css" />
    <link rel="stylesheet" href="{{ site.baseurl }}/css/syntax.css" />
    <!-- <link rel="stylesheet" href="{{ site.baseurl }}/assets/dist/css/social-share-kit.css" type="text/css"> -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/social-share-kit/1.0.7/css/social-share-kit.css" type="text/css">

    <!-- Js -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <!-- <script src="{{ site.baseurl }}/js/bootstrap.min.js"></script> -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <!-- <script src="{{ site.baseurl }}/js/owl.carousel.min.js"></script> -->
    
    <script src="{{ site.baseurl }}/js/plugins.js"></script>
    <!-- <script src="{{ site.baseurl }}/js/min/waypoints.min.js"></script> -->
    

    
    <!-- <script src="{{ site.baseurl }}/js/vendor/modernizr-2.6.2.min.js"></script> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.6.2/modernizr.min.js"></script>
    
    <script src="{{ site.baseurl }}/js/main.js"></script>

    <link rel="canonical" href="https://www.sugarlabs.org/" />
    <link rel="alternate" type="application/rss+xml" title="http://planet.sugarlabs.org/" />
    <script type="text/javascript">
   
//     $(document).ready(function(){
//     var COLORS = [['006E00', '78E600'], ['68008C', '78E600'],
//               ['006E00', '00BEFF'], ['033CD2', '00BEFF'],
//               ['6E008C', '00BEFF'], ['A00000', 'FF7800'],
//               ['033CD2', 'FF64D2'], ['6E008C', 'FF64D2'],
//               ['6E008C', 'FF7800'], ['033CD2', 'FF7800'],
//               ['006E00', 'FFD732'], ['6E008C', 'FFD732']];

// var color = Math.floor((Math.random() * 12));

// var logoID = color + 1;

// if (color < 10) {
//     logoID = "0" + logoID;
// }
// var h = document.querySelector('.logo2').innerHTML;
// h = h.replace(/033cd2/g, COLORS[color][0]);
// h = h.replace(/78e600/g, COLORS[color][1]);
// document.querySelector('.logo2').innerHTML = h;
// });
    // $(document).ready(function(){
    // $("#delay_demo").toggleClass('active');
    // });
    // $(document).ready(function(){

    //     // setTimeout(aaaa, 250);
    //     // aaaa(){
    //     //     document.getElementById('delay_demo').toggleClass('aaa');
    //     // }
    //     $( ".loader" ).mouseover(
    // function() {
    //   $("#delay_demo").addClass('aaa');
    // }); 
    // });
    // document.getElementById('delay_demo').addClass('aaa');
    // 
    // $(document).ready(function() {
    // $('.loader').mouseover(function() {
        // window.alert('#someButton was clicked');
        // $('#dd1').addClass('aaa');
    // }); 
// });
$(window).load(function() {
    $(".loader").delay(2500).fadeOut("slow");
})
</script>
  </head>
  <body {{ page.bodyExt }}>
    {{ content }}
  </body>
</html>
