<!DOCTYPE html>
<html class="no-js">
  <head> 
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
 		<link id="defaultIcon1" rel="shortcut icon" href="https://www.sugarlabs.org/assets/favicon_06.png" />
    <title>{{ page.title }}</title>
 
    <link href="{{ site.baseurl }}/css/googleFonts.css" rel="stylesheet" type="text/css" >
    <meta name="robots" content="index,follow,NOODP" />
    <meta name="description" Content="At Sugar Labs, we make a collection of tools that learners use to explore, discover, create, and reflect. We are non-profit and led by volunteers. We distribute these tools freely and encourage our users to appropriate them, taking ownership and responsibility for their learning." />
    <meta name="keywords" Content="Sugar Labs, Sugar, Sugarlabs, Education, Opensource, OpenSource, Sugar activities, activities, Sugar OS, Sugarizer, Sugar on Stick, SOAS" />

    <!-- Facebook card -->
    <meta property="fb:admins" content="552694361,100003527081308,100003017988002,100007693992282" />
    <meta property="fb:page_id" content="187845102582" />

    <!-- Twitter card -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="@sugar_labs" />
    <meta name="twitter:creator" content="@sugar_labs" />
    <meta name="twitter:title" content="The Sugar Labs" /> 
    <meta name="twitter:description" content="Sugar Labs is creator of the award-winning Sugar Learning Platform, which promotes collaborative learning through Sugar Activities" />
    <meta name="twitter:image" content="https://sugarlabs.org/assets/home-screenshot.png" />  

    <!-- Open graph -->
    <meta property="og:site_name" content="Sugar Labs" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Sugar Labs" />
    <meta property="og:url" content="https://geekrypter.github.io/sugarLabsWebsiteRedesign/" />
    <meta property="og:description" content="Sugar Labs is creator of the award-winning Sugar Learning Platform, which promotes collaborative learning through Sugar Activities." />
    <meta property="og:image" content="https://sugarlabs.org/assets/home-screenshot.png" />

    <!-- Google Knowledge Graph card -->
    <script type='application/ld+json'> 
        {
          "@context": "http://www.schema.org",
          "@type": "Organization",
          "name": "Sugar Labs",
          "url": "https://sugarlabs.org/",
          "logo": "https://sugarlabs.org/assets/logo.png",
          "description": "Sugar Labs is creator of the award-winning Sugar Learning Platform, which promotes collaborative learning through Sugar Activities."
        } 
    </script>
    <!-- CSS -->

   <link rel="stylesheet" href="{{ site.baseurl }}/css/bootstrap.min.css" type="text/css" />
    

    <link rel="stylesheet" href="{{ site.baseurl }}/css/airspace.css" type="text/css" />
    
    <!-- <link rel="stylesheet" href="{{ site.baseurl }}/css/animate.css" type="text/css" /> -->

     


<!-- Js -->
       <!--[if lt IE 9]>
  <script src="//oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
<![endif]-->
    
    <script  type="text/javascript" src="{{ site.baseurl }}/js/jquery-1.10.2.min.js"></script>
    <script  type="text/javascript" src="{{ site.baseurl }}/js/bootstrap.min.js"></script>
        
    <script  type="text/javascript" src="{{ site.baseurl }}/js/main.js" defer></script>

    <link rel="canonical" href="https://geekrypter.github.io/sugarLabsWebsiteRedesign/" />
    <link rel="alternate" type="application/rss+xml" title="http://planet.sugarlabs.org/" />
    <script type="text/javascript" defer>


$(window).load(function() {

    $(".loader").fadeOut("slow");

})

</script>

  </head>
  <body {{ page.bodyExt }}>

    {{ content }}


  </body>
</html>
